 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Love Open Source, Fast Learner, Favorite is GIS, Teamwork, Competent Intermediate Programmer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Something important inside me, Understand to build WebGIS with leafletJS or Google Maps, PHP get used to Framework CodeIgniter, other than that understand to build Android application and so familiar with QGIS software. </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
<!-- 
 Love Open Source
Fast learner
Favorite is GIS
Understand about
1. Web-GIS
2. JavaScript
3. Leaflet
4. Code igniter
5. Using Qgis
6. Public Key Infrastructure Concept
7. Encryption Email with Thunderbird
8. Google Maps
9. Tile Layers concept
10. Open Street Map
11. GeoJSON
12. Open Layers Plugin in QGIS

Add my social media
Fb: Muhammad Ibnu Wardana
Ig: m_ibnuwardana
Thanks for attention
-->
