 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Love Open Source, Fast Learner, Favorite is GIS, Teamwork, Competent Intermediate Programmer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Something important inside me, Understand to build WebGIS with leafletJS or Google Maps, PHP get used to Framework CodeIgniter, other than that understand to build Android application and so familiar with QGIS software. </p>
                </div>
            </div>
        </div>
    </section>